{% extends "admin_main.html" %}
{% load staticfiles %}


{% block main_navbar %}
    {% include "main/main_navbar.html" %}
{% endblock %}

  {%  block main_sidebar %}
      {% include "main/main_sidebar.html" %}
  {% endblock %}

{% block main_header %}
    {% include "main/main_header.html" %}
{% endblock %}

{% block main_content %}
	<span class="breadcrumb-item active">
		{% include "sections/profile/profile_index.html" %}
	</span>
{% endblock %}

{% block main_footer %}
    {% include "main/main_footer.html" %}
{% endblock %}